@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    max-width: 70ch;
    margin: auto;
    line-height: 1.4;

    background-color: #303030;
    font-family: 'Fira Code', monospace;
    font-size: clamp(1rem, 0.5rem + 1.5vw, 1.125rem); /* Scales smoothly from 16px to 18px */

    /* Use a clean, soft off-white or light gray for general body text */
    color: #e0e0e0;
}

/* 3. Use your "School Bus Yellow" strategically for emphasis, headings, or links */
h1, h2, h3, strong, a {
    color: #FFD800; /* School bus Yellow, Gold, Sunglow */
    /* color: #7CFC00; Nuclear Waste, Lawngreen, Yellow, Chartreuse, Electric Lime */ 
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

.bordered-div {
    border-width: 3px;
    border-style: solid;
    border-color: #ale355; 
    border-radius: 5px; 
    padding: 10px 5px 20px 50px;
    box-sizing: border-box; /* Includes border and padding in dimensions */
}

.fruit-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
